/* Reset margins and padding */
/* Reset margins and padding */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  /* Giant Rows Styling */
  .giant-row {
    height: 33.33vh; /* Each row takes 1/3 of the viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 3.5s  ease-in-out; /* Smooth transition for background change */
  }
  
  .giant-row .overlay {
    background: rgba(0, 0, 0, 0.5); /* Dark overlay for contrast */
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .giant-row h2 {
    font-size: 2.3rem;
    font-weight: bold;
    margin: 0;
    font-family: 'Cinzel Decorative', serif;
    font-style: italic;

  }

  .slider {
    animation: fadeEffect 1s forwards infinite;
  }
  
  .overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 1px;
  }
  
  @keyframes fadeEffect {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Footer Styling */
  footer {
    background: blue;
    color: #fff;
  }
